*{
  margin: 0;
  padding: 0;

}

.open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

/* common style */
.btn{
  color: white;
  background-color: #30B868;
  border: none;
  padding: 15px 12px;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
}



/* separate style  */


                                /* Header section */

.nav-section{
  height: 92px;
  max-width: 1600px;
  margin: 0 auto;
}

header .nav-section nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}

header .nav-section .nav-ul a{
  text-decoration: none;
  color: black;
  font-weight: 500;
}

header .nav-section nav .nav-ul ul{
  display: flex;
  gap: 30px;
  list-style-type: none;

}


                            /* Banner section */

.banner{
  background-image: url(./image/hero-bg.png);
  height: 950px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.banner-section .banner .banner-content {
  margin: 0 auto;
  text-align: center;
  width: 850px;
  padding-top: 210px;
}

.banner .btn-div{
  background-color: white;
  color: #30B868;
  border-radius: 50px;
  margin: 0 auto;
  display: flex;
  gap: 10px;
  width: 250px;
  height: 30px;
  font-size: 16px;
  font-weight: 500;
  align-items: center;
  justify-content: center;
  padding: 8px 12px;
}

.banner-section .banner .banner-content h2{
  margin-top: 15px;
  font-size: 70px;
  font-weight: 700;
  color: white;
}

.banner-section .banner .banner-content #banner-content-h2{
  color: #30B868;
}

.banner-section .banner .banner-content p{
  color: white;
  width: 650px;
  justify-content: center;
  text-align: center;
  padding-left: 100px;
  padding-bottom: 30px;
  line-height: 30px;
}

.banner .banner-btn{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.banner .banner-btn .btn2{
  color: white;
  border: 1px solid white;
  padding: 15px 12px;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
}

                            /* Notes section */

.notes-section{
  margin: 100px auto;
  text-align: center;
  max-width: 1600px;
}

.notes-section h1{
  font-size: 48px;
  font-weight: 700;
  margin-top: 16px;
}

.notes-section p{
  margin-top: 15px;
  color: #627382;
}

.notes-section .note-cards{
  display: flex;
  margin-top: 40px;
  justify-content: space-between;
}

.notes-section .card{
  height: 300px;
  width: 300px;
  box-shadow: 0px 0px 8px 0px #0000000f;
  justify-items: center;
  padding: 24px;
  border-radius: 10px;
  max-width: 1600px;
  margin-top: 45px;
}

.notes-section .note-cards .card #note-img{
  height: 60px;
  width: 60px;
  background-color: #f95555;
  border-radius: 50px;
  align-content: center;
  margin-top: 60px;
}

                              /* Second Brain Section */

.second-brain{
  max-width: 1600px;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  gap: 60px;
}

.sec-brain-img{
  height: 650px;
  width: 850px;
  background-image: url(./image/knowledge.png);
  background-size: cover;
  border-radius: 15px;
}

.second-brain-solution{
  margin-top: 100px;
  width: 1100px;
}

.second-brain-solution #green-p{
  color: #30B868;
  font-weight: 500
}

.second-brain-solution h2{
  margin-top: 15px;
  font-size: 48px;
  font-weight: 700;
  width: 550px;
}

.second-brain-solution #sec-brain-p{
  margin-top: 15px;
  width: 500px;
  color: #627382;
  font-size: 15px;
}

.fa-circle-check-div{
  margin-top: 40px;
}


.fa-circle-check-div i{
  color: #30B868;
}

.fa-circle-check-div h4{
  font-size: 16px;
  font-weight: 600;
  margin-top: 15px;
}

                              /* Early Access Section */
.early-access-section{
  max-width: 1600px;
  height: 300px;
  margin: 0 auto;
  padding-top: 100px ;
}

.early-access-section .early-access-div{
  background-color: #f7f6f2;
  border-radius: 15px;
  padding: 80px;
  text-align: center;
  gap: 18px;
}

.early-access-section h2{
  font-size: 40px;
  font-weight: 700;
}

.early-access-section .early-access-div h2,p,button{
  margin-top: 18px;
}

.early-access-section .early-access-div p{
  color: #627382;
  font-size: 15px;
}


                              /* footer */

footer {
  margin-top: 200px;
  width: 100%;
  color: white;
  background-color: rgba(0, 25, 49, 1);
}

.footer-div{
  max-width: 1600px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.footer-div #foot-img-div{
  background-image: url(./image/logo-footer.png);
  height: 60px;
  width: 140px;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 50px;
}

.footer-div .social-div h3{
  font-size: 20px;
  font-weight: 500;
  margin-top: 50px;
}

.footer-div .social-div i{
  margin-top: 15px;
  cursor: pointer;
}

footer #foot-hr{
  width: 1600px;
  margin: 50px auto;
}

footer  .copyrights{
  justify-items: center;
  height: 50px;
}